.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(245, 245, 249, 1);
  &-loading{
    margin-top: 200px;
    width: 50%;
  }
}

.cardList {
  margin-bottom: -24px;

  .card {
    :global {
      .ant-card-meta-title {
        margin-bottom: 12px;
        & > a {
          color: #000;
          display: inline-block;
          max-width: 100%;
        }
      }
      .ant-card-actions {
        background: #f7f9fa;
      }
      .ant-card-body:hover {
        .ant-card-meta-title > a {
          color: #000;
        }
      }
    }
  }
  .item {
    height: 64px;
  }

  :global {
    .ant-list .ant-list-item-content-single {
      max-width: 100%;
    }
  }
}

.extraImg {
  margin-top: -60px;
  text-align: center;
  width: 195px;
  img {
    width: 100%;
  }
}

.newButton {
  background-color: #fff;
  border-color:#000;
  border-radius:1;
  color: #000;
  width: 100%;
  height: 188px;
}

.cardAvatar {
  width: 48px;
  height: 48px;
  border-radius: 48px;
}

.pageHeaderContent {
  position: relative;
}

.contentLink {
  margin-top: 16px;
  a {
    margin-right: 32px;
    img {
      width: 24px;
    }
  }
  img {
    vertical-align: middle;
    margin-right: 8px;
  }
}