{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
          "> 1%",
          "last 2 versions",
          "Android >= 2.3",
          "Firefox >= 20",
          "iOS 7",
          "not ie <= 8"
        ]
      }
    }],
    "react"
  ],
  "plugins": [
    ["import", { "libraryName": "antd", "libraryDirectory": "lib", "style": true }, "ant"],
    ["import", { "libraryName": "antd-mobile", "libraryDirectory": "lib", "style": true }, "antd-mobile"]
  ]
}