{
  "extends": "react-app",
  "rules": {
    "no-undef": "off",
    "no-console": "off",
    "no-restricted-globals": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "@": ["src"]
      }
    }
  }
}